 body{
     background-color: rgb(34, 34, 34);
     color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     max-width: 1200px;
     min-width: 580px;
     padding: 10px;
     margin: 0 auto;
 }
 header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 30px;
 }
 .title2{
     line-height: 10px;
     font-size: 45px;
     margin-left: 25px;   
 }
.title li{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    flex-wrap: wrap;
    margin-right: 20px;
    color: white;
}
.title li span{
    border: 2px solid rebeccapurple;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.3s;
}
.title li span:hover{
    border: 3px solid rgb(131, 75, 131);
    padding: 15px;
    border-radius: 15px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px;
}
h3{
 font-size: 40px;
 line-height: 10px;
}
h3 span{
    color:rebeccapurple;
    font-size: 40px;
    transition: 0.3s;
}
h3 span:hover{
    color:rgb(166, 104, 228);
}
p{
    width: 500px;
    margin: 90px 20px 90px 0px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: 320px;
    font-size: 35px;
    border-radius: 10px;
    color: #fff;
    margin: 20px;
    padding: 20px;
}
input{
    width: 380px;
    padding: 25px;
    margin: 20px;
    font-size: 25px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #525050;
}
.btn, input:hover{
    background-color: #c0b9b9;
}

img{
    right: 290px;
    margin-top: 60px;
    animation: infinite;
}

@media (max-width:1150px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .title2{
        font-size: 50px;
    }
    ul{
        display: flex;
        flex-direction: column;       
    }
    li{
        font-size: 30px;
        margin-bottom: 20px;
    }
   main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    p{
        width: 450px;
    }
    article{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        width: 620px;
    }
    img{
        width: 400px;
    }        
}

